.container {
    display: flex;
}

.favorite:hover {
    color: crimson;
}

.active {
    color: deeppink;
}

.inputStyle{
    display: flex;
    width: 100%;
} 
.input{
    height: 52px;
    font-size: 20px;
}
.button{
    width: 150px;
    height: 52px;
    font-size: 20px;
}

