.container {
    display: flex;
    /* margin: auto; */
}

.favorite:hover {
    color: crimson;
}

.active {
    color: deeppink;
}

.inputStyle{
    display: flex;
    /* margin: auto; */
    height: 52px;
    width: 1040px;
    /* font-size: 20px; */

} 
.input{
    font-size: 20px;
}
.button{
    width: 150px;
    height: 52px;
    font-size: 20px;
}