.buttonFavorites{
    border: none;
    height: 80px;
    font-size: 18px;
    background-color: #FFFFFF;
    border-bottom: 2px solid transparent;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}
.buttonFavorites:hover{
    color: #1390E5;
}
.active{
    border: none;
    height: 80px;
    font-size: 18px;
    border-bottom: 2px solid #1390E5;
    background-color: #FFFFFF;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}