
.withoutRequest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
   
    margin-top: 200px;
    gap: 40px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 1040px;
}

.searchVideo{
    font-size: 36px;
}